:root {
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px
}

.category {
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background: var(--light-color);
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Staatliches', cursive;
    margin-bottom: .55rem;
    line-height: 1.3rem;
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem;
    overflow: hidden;
}

#main-nav {
    background: #fff;
    position: sticky;
    z-index: 2;
}

#main-nav .container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    align-items: center;
    padding: 1rem;
}

#main-nav .logo {
    max-width: 180px;
}

#main-nav .social {
    justify-self: center;
}

#main-nav .social i {
    color: #777;
    padding-right: 0.5rem;
}

#main-nav ul {
    display: flex;
    justify-self: end;
}

#main-nav ul li a {
    padding: 0.75rem;
    font-weight: bold;
}

#main-nav ul li .current {
    background: var(--primary-color);
    color: #fff;
}

#main-nav ul li a:hover {
    background: var(--light-color);
}

#main-nav ul li .current:hover {
    color: #333;
}

#showcase {
    position: relative;
    background: #333;
    color: #fff;
}

#showcase::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: url("../images/featured.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 50vh;
}

#showcase .showcase-content {
    z-index: 1;
    font-weight: bold;
}

#showcase .showcase-content h1 {
    margin-bottom: 1rem;
}

#showcase .showcase-content .btn {
    margin-top: 0.8rem;
    display: inline-block;
    background: var(--primary-color);
    padding: 0.5rem 1.2rem;
    color: white;
}

#showcase .showcase-content .btn:hover {
    opacity: 0.8;
}

.category {
    display: inline-block;
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 0.4rem 0.6rem;
    font-size: .55rem;
}

.category.category-sports{
    background: var(--sports-color);
}

